<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#TODO implementation of HOME BUTTON#}
<form action="/">
    <button>Home</button>
</form>

<h1>Registered Vehicles: </h1>

{% for mod in current_model %}
    <h2>
        {{ mod.bg_reg_number.bg_reg_number }}
    </h2>
        <ul>{{ mod.manufacturer.manufacturer }}</ul>
        <ul>{{ mod.manufacturer_model.man_model }}</ul>
        <ul>{{ mod.first_reg }}</ul>
        <ul>{{ mod.engine_vol }}</ul>
        <ul>{{ mod.fuel_type }}</ul>
{% endfor %}


</body>
</html>
