<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/">
    <button>Home</button>
</form>

{% for obj in result %}

    <h2>
        {{ obj.bg_reg_number }}
    </h2>
        <ul>{{ obj.manufacturer.manufacturer }}</ul>
        <ul>{{ obj.manufacturer_model.man_model }}</ul>
        <ul>{{ obj.first_reg }}</ul>
        <ul>{{ obj.engine_vol }}</ul>
        <ul>{{ obj.fuel_type }}</ul>
{% endfor %}


</body>
</html>